:root {
    --myPurple : rgb(148, 52, 150);
}

body {
    background-color: rgb(211, 210, 211);
}

.navbar-brand img {
    height: 40px;
    border-radius: 5px;
}
.dropdown {
    margin-right: 1.5em;
}
#userPic {
    height: 30px;
}
i {
  color: rgb(143, 146, 150);
  margin-right: 1.5em;
}
i.fa-bell::after, i.fa-user::after, i.fa-cart-arrow-down::after{
    content: '0';
    padding: 2px;
}
#highlights .section-title {
   margin-top: 1.5em;
}
hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.carousel-item img {
    max-height: 400.47px;
}

.carousel-indicators {
    bottom: -3.3em;
}
.carousel-control-prev {
    justify-content: flex-start;
    margin-left: -2em;
}
.carousel-control-next {
    justify-content: flex-end;
    margin-right: -2em;
}
.card-img-top {
    /* max-height: 110px; */
}
.card-body {
    padding: 0.5em 1em;
}
.card-price span{
    justify-content: flex-end;
} 
#gog-msg p {
    font-size: 0.85em;
    margin-bottom: 0PX;
}
#gog-msg span {
    color: var(--myPurple);
    font-weight: 700;
}

/* .sale img{
    width: 100%;
} */